@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip.tooltip-hidden:after,
.tooltip.tooltip-hidden:before,
.tooltip:hover.tooltip-hidden:after,
.tooltip:hover.tooltip-hidden:before {
  opacity: 0;
  transition-delay: 75ms;
}
